* {
  margin: 0px;
  padding: 0px;
  color: white;
  list-style: none;
}

body {
  background-image: url(img/fondo.jpg);
  font-family: "nunito", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.principal { /*Etiqueta contenedora*/
  width: 100vw;
  background-color: rgb(240, 240, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

.principal img { /*img del header*/
  height: 100px;
}

.items {
  font-family: "Montserrat", sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
}

nav a:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.items a {
  text-decoration: none;
  color: black;
  padding: 5px 50px;
}

.Principal a:hover {
  background-color: black;
}

.quiensoy {

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 180px 134px 24px 134px;
}

.info {
  display: flex;
  gap: 20px; 
  flex-direction: column;
  width: 50%;
}

.hola {
  color: rgb(240, 240, 255);
      font-family: "quicksand";
      font-size: 75px;
}

.herramientas{
  text-align: center;
  margin: 190px 134px 24px 134px;
}
  
.herramientas img{
  margin: 20px;
}

.info_herra{  
        font-size: 50px;
}

.estrellas {
      list-style: none;
      padding: 0;
      margin: 10px 0 20px 0;
      display: flex;
      justify-content: center;
}
  
.estrella {
      font-size: 50px;
      color: #ccc;
      margin: 0 3px;
}
  
.estrella.llena {
      color: rgb(144, 120, 248);
}

  
.sobremi {
      font-size: 20px;
}

.datos {
  display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 24px;
    gap: 52px;
}

.lista_trabajos{  
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experiencia_lab {
  display: flex;
  border: 1px solid rgb(144, 120, 248);
  border-radius: 10px;
  padding: 30px;
  gap: 20px; 
  flex-direction: column;
  width: 35%;
}

.listaexp{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listaexp a{
  color:rgb(144, 120, 248) ;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.descripcion_exp {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.tit_exp{
   font-family: "Verdana";
    font-size: 40px;
    color: rgb(144, 120, 248);
}

.trabajos_art{
  display: flex;
  padding: 30px;
  border: 1px solid rgb(144, 120, 248);
  border-radius: 10px;
  flex-direction: column;

  img{
  width: 390px;
  height:300px;
  padding-top: 20px;
  padding-bottom: 24px;
  }
}

.año_lista{
  color: gray;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.lista {
  color: rgb(144, 120, 248);
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.fecha {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgba(189, 190, 192, 0.997);
}

.fecha_est{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgba(101, 101, 102, 0.997);
padding-bottom: 8px;
} 

.info_general{
  display: flex;
  background-color: rgb(240, 240, 255, 0.7);
  padding: 30px;
  border-radius: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px 134px 200px 134px;
  flex-direction:row;
}

.estudios{
  display: flex;
  flex-direction: column;
  width: 20%;
  gap:20px;
}

.est_list{
  display: flex;
  font-family: quicksand, bold;
  color: black;
  flex-direction: column;
  font-size: 22px;
  margin-bottom: 1rem;
}


.tit_est{
  font-family: "Verdana";
  font-size: 30px;
  color: black;
}

.lista_est{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.lista__est{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.descripcion_est{
  color:black;
  gap:20px;
   font-size: 12px;
 }

.idiomas{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.lista_cuali{
  list-style-type: disc;
  color:black;
}

.cuali_list{
  display: flex;
  font-family: quicksand, bold;
  color: black;
flex-direction: column;
font-size: 16px;
gap:20px;
}

.contacto { 
  display: flex;
  flex-direction: column;
  padding:20px;
  border: 2px solid black;
}

.tit_contac{
  display: flex;
  font-family: "Verdana";
  font-size: 30px;
  color: black;
}

.footer{

  width: 100%;
  height: 120px;
  background-color: rgb(240, 240, 255);
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 60px;
}

.footer {
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease;
}
  
footer:hover {
    background-color:rgba(189, 190, 192, 0.997);
}