* {
  margin: 0px;
  padding: 0px;
  color: white;
  list-style: none;
}

body {
  font-family: "nunito", sans-serif;
  background-color: black; 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal { /*Etiqueta contenedora*/
  width: 100vw;
  background-color: navajowhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal img { /*img del header*/
  width: 100px;
  height: 100px;
}

.items {
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
}

nav ul li {
  display: inline;
}

.items a {
  text-decoration: none;
  color: black;
  padding: 5px 50px;
}

.Principal a:hover {
  background-color: black;
}

.quiensoy {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quiensoy img {
    width: 50%;
  }

.info {
  display: flex;
  gap: 20px; 
  flex-direction: column;
  width: 50%;
  padding-right: 50px;
 }

 .hola {
  color: yellow;
      font-family: "Verdana";
      font-size: 75px;
    }
  
.herramientas img{
      width: 90px;
      margin: 20px;
    }

 .info_herra {  
        font-size: 30px;
    }

.sobremi {
      font-size: 20px;
    }

.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
 
}

.experiencia_lab {
  display: flex;
  border: 1px solid yellow;
  padding: 10px;
  gap: 20px; 
  flex-direction: column;
  width:70%;
  
}
.listaexp{

  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px

}

.listaexp a{
  color: yellow;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;

}


.descripcion_exp {

font-size: 15px;

}


.tit_exp{
   font-family: "Verdana";
    font-size: 40px;
    color: yellow;

}

.estudios{
 
  display: flex;
  border: 2px solid pink;
  gap: 20px; 
  flex-direction: column;
  padding:15px;
  width: 20%;

 


}

.tit_est{
  display: flex;
  font-family: "Verdana";
  font-size: 40px;
  color: pink;


}
.lista_est{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px
}

.lista__est{
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: pink;
  font-size: 30px;


}

.descripcion_est{
 color:white;
  font-size: 15px;

}


.footer{

  width: 1920px;
  height: 120px;
  background-color: navajowhite;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.footer_p{
  display: flex;
  color: black;

}





